@import "./helpers/color";
@import "./helpers/variables";
@import "./helpers/mixins";
@import "./helpers/global";
@import "./helpers/shared";
header {
    background-image: url("../img/b-g.png");
    background-size: cover;
    color: white;
    height: 100%;
    padding-bottom: 5rem;
    ul {
        padding: 0;
    }
    .top-bar {
        font-size: 13px;
        .social {
            display: flex;
            @include breakpoint(mobile) {
                justify-content: center;
                font-size:11px;
                
            }
            li {
                margin-right: 1rem;
                line-height: 50px;
            }
        }

        .book-now {
            display: flex;
            justify-content: flex-end;
            @include breakpoint(mobile) {
                justify-content: center;
                font-size:11px;
            }
            @include breakpoint(fold){
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            li {
                margin-left: 1rem;
                line-height: 50px;
            }
        }
    }
    a {
        font-size: 14px;
        color: white;
        &:hover {
            color: $primary-color;
            text-decoration: none;
        }
    }
    .menu {
        margin-top: 1rem;
        @include breakpoint(phablet) {
            .menu-home {
                ul {
                    position: fixed;
                    width: 100%;
                    height: 100vh;
                    background-color: black;
                    top: 0;
                    z-index: 3;
                    transition: all 0.5s;
                    padding-top: 2rem;
                    text-align: center;
                    display: block !important;
                    left: -100%;
                    li {
                        padding: 0.5rem;
                        a {
                            font-size: 20px !important;
                            a:hover{
                                color:$primary-color;
                            }
                        }
                    }
                }
            }
            ul.show {
                left: 0;
            }
            #hide-menu.showmn {
                position: fixed;
                top: 30px;
                right: 30px;
                display: block !important;
                z-index: 10;
            }
            .fa-star {
                display: none;
            }
            #icon {
                display: block !important;
                float: right;
                font-size: 30px;
                #hide-menu {
                    display: none;
                }
            }
        }
        
        img {
            width: 110px;
        }
        #icon {
            display: none;
        }
        .fa-star {
            font-size: 7px;
        }
        .menu-home {
            ul {
                display: flex;
                justify-content: flex-end;
                li {
                    margin-right: 1rem;
                    line-height: 40px;
                    a {
                        font-size: 15px;
                    }
                }
            }
        }
    }

    .search {
        float: right;
        margin-top: 0.5rem;
        button {
            @extend %button;
            font-size: 12px;
            padding: 0.6rem 1rem;
            cursor: pointer;
            float: right;
        }
        input {
            padding: 0.6rem;
            font-size: 12px;
            border: none;
        }
        @include breakpoint(phablet){
            float: left;
            margin-top:1rem;
            font-size: 12px;

        }
        @include breakpoint(fold){
            display: none;

        }
    }
    .mycart {
        display: flex;
        justify-content: flex-end;
        @include breakpoint(phablet){
            margin-top:1rem;
        }
        @include breakpoint(fold){
            display: none;

        }
    }
    .cart {
        font-size: 16px;
        margin-top: 0.5rem;
    }
    .badge-cart {
        margin-left: -6px;
        font-size: 10px;
        padding: 0.4rem;
        border-radius: 50%;
        line-height: 0.8em;
        text-align: center;
        width: 20px;
        height: 20px;
        font-weight: bold;
        background: $primary-color;
        color: black;
    }
}
.slide-beef {
    margin: 3rem 0;
    h1 {
        margin: 2rem 0;
        font-size: 50px;
    }
    p {
        margin-bottom: 2rem;
        color: white;
        font-size: 17px;
    }
    button {
        @extend %button;
    }
    img{
        width: 100%;
    }
    .beef-img{
        width: 50%;
    }
    .col-sm-12,.col-12{
        text-align: center;
    }
}

.food-taste {
    background-image: url("../img/home-1-background-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    .food-content {
        margin: auto;
        margin-top: -80px;
        background-color: white;
        padding: 3rem;
        img {
            width: 100%;
        }
        h4 {
            margin: 1rem 0;
        }
    }
}
.art-galleyry {
    padding: 2rem;
    padding-bottom: 1rem;
    background-color: black;
    color: white;
    h3 {
        font-family: $galley-font;
        font-size: 40px;
        font-weight: 400;
    }
    ul {
        display: flex;
        li {
            margin-right: 1rem;
            line-height: 60px;
        }
    }
    button {
        margin-top: 0.5rem;
        @extend %button;
        background-color: white;
    }
    a {
        color: $primary-color;
        &:hover {
            color: white;
        }
    }
    @include breakpoint(phablet){
        button{
            display: none;
        }
        ul{
            flex-direction: column;
        }
        padding-bottom: 0;
    }
}
.img-gall {
    padding: 1rem;
    background-color: black;
    
    img {
        width: 100%;
        height: 100%;
    }
    .col-12,.col-sm-12{
        margin-bottom:1rem;
    }
    @include breakpoint(mobile){
        img{
            margin-top:1rem;
        }
    }
}
.welcome {
    padding-top: 3rem;
    padding-bottom: 100px;
    .weltopi {
        padding-top: 3rem;
        p {
            margin: 1rem 0;
        }
        button {
            margin-top: 1rem;
            @extend %button;
        }
    }
    .welcimg {
        img {
            width: 80%;
        }
    }
    @include breakpoint(mobile){
        .welcimg{
            img{
                margin-top:2rem;
                width: 100%;
            }

        }
        .weltopi{
            padding-top:1rem;
        }
    }
}

//section: slide-card
.slide-card {
    text-align: center;
    background: url("../img/new-parallax-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 2rem;
    padding-top: 0.7rem;
    @include breakpoint(mobile){
        .carousel-inner{
            .item-2,.item-3{
                display: none!important;
            }
        }
    }
    .carousel-inner{
        .col-md-4{
            overflow: hidden;
        }
    }
    img {
        width: 100%;
    }
    .card-price {
        position: relative;
        background-color: white;
        padding-bottom: 2rem;
        height: 100%;
        p {
            padding: 0 1rem;
        }
        .new {
            position: absolute;
            top: 5px;
            left: 5px;
            display: inline;
            background-color: $primary-color;
            padding: 0 0.5rem;
            font-size: 12px;
            color: black;
            font-weight: 600;
        }
        .price {
            margin-top: -15px;
            .price-num {
                background-color: $primary-color;
                padding: 0.7rem 0.5rem;
                border-radius: 50%;
                font-size: 16px;
                font-family: $title-font;
                font-weight: 900;
            }
        }
        .title {
            margin-top: 2rem;
            margin-bottom: 1rem;
        }
    }
}
//section: simple
.simple {
    padding: 2rem 0;
    @include breakpoint(mobile){
        .col-12{
            margin-top:2rem;
        }
    }
    h3 {
        padding: 2rem 0;
    }
    .row {
        color: white;
        margin-top: 2rem;
    }
    .recipes {
        background: linear-gradient(to right, rgba(black, 0.5), rgba(black, 0.3)), url("../img/banner-image-1.jpg");
        background-size: cover;
        padding: 1.5rem;
        height: 100%;
        h5 {
            margin-top: 150px;
            line-height: 30px;
            margin-bottom: 0;
        }
    }
    .offer {
        background: linear-gradient(to right, rgba(black, 0.5), rgba(black, 0.3)), url("../img/banner-image-2.jpg");
        background-size: cover;
        padding: 1.5rem;
        height: 100%;
        h5 {
            margin-top: 150px;
            line-height: 30px;
            margin-bottom: 0;
        }
        .save {
            color: $primary-color;
        }
    }
    .amazing {
        background: linear-gradient(to right, rgba(black, 0.5), rgba(black, 0.3)), url("../img/banner-image-3.jpg");
        background-size: cover;
        padding: 1.5rem;
        height: 100%;
        h5 {
            margin-top: 150px;
            line-height: 30px;
            margin-bottom: 0;
        }
    }
}
//section:slide-rate
.slide-rate {
    background-image: url("../img/b-g-2.jpg");
    background-size: cover;
    padding-top: 1rem;
    padding-bottom: 3rem;
    .carousel-inner {
        text-align: center;
        color: white;
        font-size: 14px;
        p {
            color: white;
        }
        .rate-star {
            color: $primary-color;
        }
        .author {
            font-family: $title-font;
            margin-top: 1rem;
            font-weight: 500;
            font-size: 17px;
        }
    }
    .carousel-item {
        padding: 0 130px;
    }
    .carousel-control-prev,
    .carousel-control-next {
        bottom: 65%;
    }
    @include breakpoint(mobile){
        .carousel-item{
            padding:0 50px;
        }
    }
}
//latest-news
.latest-news {
    padding: 3rem 0;
    p {
        padding: 0 5rem;
        margin-top: 2rem;
    }
    @include breakpoint(mobile){
        p{
            padding:0;
        }
    }
}
//section: card-menu
.card-menu {
    padding-bottom: 4rem;
    @include breakpoint(phablet){
        .card-menu-content{
            margin-top:2rem;
        }
    }
    img {
        width: 100%;
        margin: 0;
    }
    .card-menu-content{
        padding:0;
    }
    .calendar-menu {
        padding: 1rem 1.5rem;
        border: 2px solid #595959;
        border-top: none;
    }
    .date {
        font-size: 13px;
        color: black;
    }
}

//section: food-drinks
.food-drinks {
    background: url("../img/parallax-3.jpg");
    background-size:cover;
    background-position: center;
    text-align: center;
    padding: 3rem;
    &-img{
        img{
            width: 50%;
            @include breakpoint(phablet){
                width: 100%;
            }
        }
    }
}
//section:award-winning
.award-winning {
    .col-sm-12,.col-12{
        padding-bottom: 1rem;
    }
    padding: 4rem 0;
    h4 {
        margin-bottom: 2rem;
    }
    .award-img {
        margin: 2rem 0;
        width: 100%;
        img{
            width: 100%;
        }
    }
    .contact-info {
        line-height: 40px;
        margin-top: 1rem;
        p {
            color: black;
            margin:0;
        }
        .icon-info {
            margin-right: 1rem;
        }
    }
    .opening {
        background: url("../img/b-g-open.png");
        color: white;
        .opening-hour {
            margin: 2.5rem 1.5rem;
            padding: 1rem;
            border: 1px solid #808080;
            h3 {
                text-align: center;
                .house {
                    color: $primary-color;
                }
            }
            p {
                color: white;
            }
            .box {
                display: flex;
                align-items: center;
                justify-content: center;
                .dot {
                    border-bottom: 2px dotted white;
                    flex: 1;
                    margin: 0px 4px;
                    margin-bottom: 4px;
                }
                .clock {
                    margin-right: 0.4rem;
                }
            }
            ul {
                padding: 0;
                margin: 0;
            }
        }
    }
    @include breakpoint(phablet){
        padding-bottom: 0;
    }
}
.book-table {
    background-color: $bg-color;
    padding: 3rem 0;
    @include breakpoint(phablet){
        .btn-book{
            margin-top:1rem;
            padding:0 15px!important;
        }
    }
    .col {
        padding: 0;
    }
    select {
        -webkit-appearance: none;
        padding: 0.4rem 1rem;
        width: 100%;
        background:white;
    }
    .select-box {
        display: flex;
        .add-icon {
            border: 1px solid black;
            padding: 0.4rem 1rem;
            border-left: none;
            background:white;
        }
    }
    input[type="date"]::-webkit-calendar-picker-indicator {
        background: transparent;
        bottom: 0;
        color: transparent;
        cursor: pointer;
        height: auto;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
    }
    input {
        width: 100%;
        padding:0 1rem;
    }
    .btn-book {
        padding-left: 3rem;
    }
    button {
        @extend %button;
        width: 100%;
    }
    p {
        margin-top: 8px;
        color: black;
    }
    .power {
        margin-bottom: 0;
        color: #999999;
        font-size: 12px;
    }
}
.piquant-footer {
    background-color: black;
    color: #d9d9d9;
    padding-top: 3rem;
    padding-bottom: 1rem;
    font-size: 13px;
    @include breakpoint(mobile){
        .col-12{
            margin-top:2rem;
        }
        .social-ft{
            .col-12,.col-sm-12{
                text-align: center;
                margin:0;
            }
            .follus{
                justify-content: center;
                li{
                    margin-left:0;
                    padding:0 1rem;
                }
            }
        }
    }
    p {
        color: #d9d9d9;
    }
    h4 {
        margin-bottom: 2rem;
    }
    ul {
        li {
            padding: 0.5rem 0;
        }
    }
    .recent-post {
        li {
            border-bottom: 1px solid #d9d9d9;
            padding: 0.7rem 0;
        }
    }
    img {
        width: 40%;
        margin-bottom: 2rem;
    }
    .contact-icon {
        margin-right: 10px;
        font-size: 15px;
    }
    .social-ft {
        border-top: 1px dashed #d9d9d9;
        padding-top: 1rem;
        margin-top: 4rem;
        .col {
            padding: 0;
        }
    }
    .follus {
        display: flex;
        justify-content: flex-end;
        li {
            margin-left: 1rem;
        }
    }
    a {
        color: white;
        &:hover {
            color: $primary-color;
        }
    }
}
