$title-font:'Oswald', sans-serif;
$primary-font: 'Roboto Slab', serif;
$galley-font:'Shadows Into Light', cursive;

//breakpoint
$sm-screen:576px;
$md-screen:768px;
$lg-screen:992px;
$xl-screen:1200px;
